* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --red-dark: #d90429;
  --red-light: #ef233c;
  --white: #edf2f4;
  --light-grey: #8d99ae;
  --dark-grey: #2b2d42;
}

.darkTheme {
  --red-dark: #9ec8b9;
  --white: #1b4242;
  --dark-grey: #092635;
}

body {
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 42px;
  letter-spacing: -0.5px;
}
p,
li,
a,
button {
  line-height: 22px;
  letter-spacing: -0.5px;
}

/* Header start */

header {
  background-color: var(--white);
  height: 10vh;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 25px;
  position: fixed;
  width: 150vh;

}

header a {
  text-decoration: none;
  color: var(--red-light);
}

.divContainer {
  display: flex;
  flex-direction: row;
  margin-right: 5%;
  gap: 10px;
}

.btnLogin-popup {
  border: none;
  font-size: 25px;
}
/* Header end */

/* Night/Light-mode start */

#moonIcon {
  color: var(--red-light);
  width: 30px;
}

#sunIcon {
  color: var(--dark-grey);
  width: 30px;
}

/* Night/Light-mode end */

/* GDPR start */

.gdpr {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  place-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 200ms ease-in-out opacity;
}
.gdprContainer {
  width: clamp(300px, 90vw, 500px);
  background-color: #fff;
  padding: clamp(1.5rem, 100vw, 2.5rem);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  opacity: 0;
  transform: translateY(20%);
  transition: 200ms ease-in-out opacity, 200ms ease-in-out transform;
  position: relative;
  overflow: hidden;
}
.gdpr h1 {
  position: absolute;
  top: 2rem;
  right: 2rem;
  line-height: 1;
  cursor: pointer;
  user-select: none;
}
.gdpr h1:active {
  transform: scale(0.9);
}

.gdpr h2 {
  font-size: 35px;
  font-weight: 600;
}

#btnContainer {
  display: flex;
  justify-content: right;
  gap: 8px;
}

.gdpr button {
  font-size: 15px;
  border-radius: 2em;
  padding: 10px;
  background-color: var(--dark-grey);
  color: var(--white);
  border: 2px solid var(--light-grey);
  font-weight: 600;
}

.gdpr button:hover {
  background-color: transparent;
  color: var(--dark-grey);
}

#tilpassBtn {
  background-color: transparent;
  color: var(--dark-grey);
}

#tilpassBtn:hover {
  background-color: whitesmoke;
  color: var(--dark-grey);
}
.showGdpr {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
  /* Fjern senere */
  grid-column: 2/3;
}

.gdprContainer img {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 80px;
  top: 40px;
  transform: rotate(-25deg);
  border: 2px solid var(--dark-grey);
  border-radius: 2em;
}

#SamtykkeUl {
  font-style: italic;
}

#newUl ul {
  display: none;
  list-style-type: none;
}

#newUl.active ul {
  display: flex;
  flex-direction: column;
}

/* GDPR end */

/* Login start */
.wrapper {
  position: relative;
  width: 440px;
  height: 400px;
  margin: 0 auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.2s ease, height 0.2s ease;
  /* Fjern senere */
  grid-column: 2/3;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: black;
  font-size: 2em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  /* Velg farge */
  color: black;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: black;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: black;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: black;
  line-height: 57px;
}

.remember-forgot {
  font-size: 0.9em;
  color: black;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: black;
  margin-right: 3px;
}

.remember-forgot a {
  color: black;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: black;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  font-weight: 500;
}

.login-register {
  font-size: 0.9em;
  color: black;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

.icon {
  display: block;
}
/* Login end */

/* Back to top button start*/

html {
  scroll-behavior: smooth;
}

#backToTopButton {
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 30px;
  right: 30px;
  background-color: var(--white);
  color: var(--dark-grey);
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Back to top button end*/

/*Instagram side*/

.container {
  max-width: 50%;
  margin: 0 auto;
  background-color: #092635;
}

/* fake news spill*/

/* Kan du sette en klasse på sectionen her slik at denne css'en ikke gjelder for alle sections? */

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

/* Forside */

#flexForsideLayout {
  display: flex;
  grid-template-columns: 1fr 4fr 1fr;
}

#footer {
  background-color: #092635;
  color: #edf2f4;
  height: 350px;
}

/* Forside */