/* Personvernsiden */

#personvern {
    padding-top: 120px;
    font-family: Playfair Display;
  }

#personvern h1 {
    font-size: 33px;
    padding: 0 30px 0 30px;

}

#DivPersonvernBokser {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.PersonvernBokser {
    border: 5px solid var(--beige-grey-light);
    padding: 15px;
}

.divpersonvern {
    margin-top: 30px;
    padding: 0 30px 0 30px;
}

#informasjonskapsler {
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 1px 0 35px 0;
    margin-top: 30px;
}