/* Personvernsiden */

#personvern {
    padding-top: 120px;
    font-family: Playfair Display;
}

.divpersonvern {
    margin-top: 30px;
    padding: 0 250px 0 250px;
} 

.divpersonvern h1 {
    font-size: 33px;
}

.divpersonvern p {
    font-size: larger;
}

.divpersonvern h2 {
    font-size: 24px;
}

#DivPersonvernBokser {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.PersonvernBokser {
    background-color: #80808075;
    padding: 15px;
}

#informasjonskapsler {
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 1px 0 35px 0;
    margin-top: 30px;
}