

.spillOverskrift{
    padding-top: 170px;
    font-size: 40px;
    text-align: center;
  }

.spillHer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .spill1{
    background-color: var(--red-dark);
    border-radius: 20px;
    width: 450px;
    height: 450px;
  }
  .spill1 p{
    text-align: center; 
  }
